.gaming-banner {
    .banner-slide {
        padding-top: 10rem;
        padding-bottom: 2rem;
        background-repeat: no-repeat;
    background-size: cover;
  .banner-content {
    font-family: 'Oxanium', cursive;
    .banner-title-main {
        font-size: 4.375rem;
        color: $yellow;
        text-transform: uppercase;
        font-weight: 700;
    }
    .bnr-subttl {
        font-size: 1.875rem;
        letter-spacing: 1px;
    }
    }
    .move-items {
        .each-items {
            .banner-imgs {
                img {
                    max-width: 100%;
                }
            }
        }
    }
    }
}  
.sc-common {
    padding: 4rem;
}
.hot-games {
    background-color: $primary;
    padding: 0 2rem;
    overflow: hidden;
    .games-sect {
        display: flex;
        align-items: center;
        padding: 1.2rem 0;
        .hotgame-ttl {
            display: flex;
            align-items: center;
            margin-right: 1rem;
           img {
               width: 25px;
           }
        }
        .hotgame-list {
            ul {
                display: flex;
                margin-bottom: 0;
                .games-names {
                    margin: 0 1rem;
                    width: auto; 
                    padding: 20px; 
                    -webkit-transform: skew(-30deg); 
                    -moz-transform: skew(-30deg); 
                    transform: skew(-30deg);
                    background: #2b1552;
                    margin: 1px;
                    .contents {
                        display: flex;
                        align-items: center;
                        -webkit-transform: skew(30deg); 
                        -moz-transform: skew(30deg); 
                        transform: skew(30deg);
                        margin: 0;
                    }
                    
                    p {
                        margin-bottom: 0;
                    }
                }
            }
             img {
                height: 24px;
            }
        }
    }
    .download-apps {
        padding: 2rem 0;
        width: auto; 
        padding: 20px; 
        -webkit-transform: skew(-30deg); 
        -moz-transform: skew(-30deg); 
        transform: skew(-30deg);
        background: #5e216d;
        margin-right: -62px;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .download-content {
            width: auto;
            -webkit-transform: skew(30deg); 
            -moz-transform: skew(30deg); 
            transform: skew(30deg);
            margin: 0;
        }
    }
}

.welcome {
    .welcome-area {
        max-width: 1027px;
        width: 100%;
        margin: auto;
        .welcome-box{
            -webkit-transform: skew(-30deg); 
            -moz-transform: skew(-30deg); 
            transform: skew(-30deg);
            background: rgba($yellow, 0.2);
            max-width: 486px;
            width: 100%;
            text-align: center;
            margin: 0 auto 3rem auto;
            .welcome-title {
                -webkit-transform: skew(30deg); 
                -moz-transform: skew(30deg); 
                transform: skew(30deg);
                padding: 1rem;
                font-size: 2.188rem;
                text-transform: uppercase;
                font-weight: normal;
            }
            &:before {
                content: " ";
                width: 92px;
                height: 2px;
                background: rgba($yellow, 0.2);
                position: absolute;
                left: -7rem;
                top: 50%;
            }
            &:after {
                content: " ";
                width: 92px;
                height: 2px;
                background: rgba($yellow, 0.2);
                position: absolute;
                right: -7rem;
                top: 50%;
            }
        }
    }
}  

.games-details {
    margin: 2rem 0;
    .game-images {
        @include border-radius(10px);
        overflow: hidden;
        img {
          width: 100%;
        }
    }
    .game-names {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background: $black;
        .titles {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 1.125rem;
            margin: 0.5rem 0;
        }
        a {
            color: $yellow;
            text-decoration: underline;
        }
    }
}
.lottery-result {

}
.lottery-ttl {
    font-size: 1.563rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.lottery-box {
    background: $primary;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem -14px;
    .flag-image {
        img {
            max-width: 53px;
            width: 100%;
        }
    }
    .country-name {
        font-size: 1.125rem;
        margin: 0.2rem 0;
    }
    .lottery-date {
        font-size: 0.875rem;
        margin: 0.2rem 0;
    }
    .lottery-number {
        font-size: 1.563rem;
        font-weight: 700;
    }
}

.bank-sect {
    background-color: #1c0b40;
}

.bank-item {
    text-align: center;
    display: flex;
    justify-content: center;
    outline: none;
    .bank-icon {
        display: flex;
        align-items: center;
        outline: none;
        justify-content: center;
        img {
            max-width: 130px;
            width: 100%;
        }
        .online-status {
            background-color: $success;
            @include border-radius(100px);
            padding: 0.1rem;
            font-size: 0.875rem;
            width: 55px;
            text-align: center;
            line-height: 16px;
        }
    }
    
}

.footer-section {
    text-align: center;
    padding: 2rem;
    .footer-logo {
        img {
            max-width: 226px;
            width: 100%;
        }
    }
    .socialmedia-footer {
        display: flex;
        justify-content: center;
        margin: 1.3rem 1rem;
        .each-icon {
            border: solid 1px $primary;
            @include border-radius(8px);
            width: 42px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 3px;
            img {
                width: 22px;
            }
        }
    }
    p {
        font-size: 0.875rem;
        margin-bottom: 0;
    }
    
}

.socialmedia {
    background-color: #c18102;
    width: 50px;
    @include border-radius(0 5px 5px 0);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    .socialmedia-box {
       width: 50px;
       height: 50px;
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: solid 1px #946600;
       img {
           width: 22px;
       }
    }
}

.link-alternative {
    background-color: #c18102;
    width: 56px;
    height: 56px;
    @include border-radius( 5px 0 0 5px);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    .links-sect {
        img {
            width: 25px;
        }
    }
}


@include media-breakpoint-down(lg) {
    .socialmedia {
        width: 35px;
        .socialmedia-box {
            width: 35px;
            height: 40px;
            img {
                width: 20px;
            }
        }
    }
    .link-alternative {
        width: 35px;
        height: 35px;
    }
    .hot-games {
        .games-sect {
            flex-direction: column;
            .hotgame-ttl {
                margin-bottom: 0.5rem;
            }
            .hotgame-list {
                ul {
                    .games-names {
                        .contents {
                            flex-direction: column;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .welcome {
        .welcome-area {
            .welcome-box {
                transform: none;
                .welcome-title {
                    transform: none; 
                    font-size: 1.5rem;
                }
                &:before, &:after {
                    display: none;
                }
            }
        }
    }
    .hot-games {
        .games-sect {
            justify-content: center;
            .hotgame-list {
                ul {
                    .games-names {
                        transform: none;
                        .contents {
                            transform: none;
                        }
                    }
                }
            }
        }
        .download-apps {
            transform: none;
            margin-right: -40px;
            margin-left: -40px;
            .download-content {
                transform: none;
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    .gaming-banner {
        .banner-slide {
            padding: 14rem 2rem 2rem 2rem;
            .banner-content {
                text-align: center;
                .banner-title-main { 
                    font-size: 2.375rem;
                }
                .bnr-subttl {
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .hot-games {
        .games-sect {
            .hotgame-list {
                ul {
                    flex-direction: column;
                    .games-names {
                        min-width: 300px;
                    }
                }
            }
        }
    }
    .sc-common {
        padding: 4rem 2.2rem;
    }
    .footer-section {
        .socialmedia-footer {
            margin: 1.3rem 0;
            .each-icon {
                img {
                    width: 16px;
                }
            }
        }
    }
}